/*-- scss:defaults --*/
$bs-blue: #027373 !default;
$bs-pagination-active-bg: $bs-blue !default;
$bs-primary: $bs-blue !default;
$bs-btn-hover-bg: $bs-blue !default;


// replicate the CSS for a callout box with a custom title, icon, and default appearance

.solutionbox {
  margin-top: 1em;
  margin-bottom: 1em;  
  border-radius: .25rem;
  border-left: solid #acacac .3rem;
  border-right: solid 0.5px silver;
  border-top: solid 0.5px silver;
  border-bottom: solid 0.5px silver;
  border-left-color: #9834eb !important;
}

.solutionbox-icon {
  height: 0.9rem;
  width: 0.9rem;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: 0.9rem 0.9rem;
  margin-top: .5rem;
  padding-right: 1.25rem;
  background-image: url('img/newspaper-regular.png');
}

.solutionbox-header {
  //margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: none;
  font-weight: 600;
  opacity: 85%;
  font-size: 1.0rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex;
  background-color: #f5e8ff;
  height: 2em;
  overflow: hidden;
}

.solutionbox-header p {
  padding-top: 0.2em;
}

.solutionbox-body {
  font-size: 1.0rem;
  font-weight: 400;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.solutionbox-body > :last-child {
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}




/*-- scss:rules --*/

.navbar {
  background-color: $bs-blue;
}

.quarto-title-banner{
  background-color: #0c2e42 ;
}

.btn-primary {
    color: #fff;
    background-color: $bs-blue;
    border-color: $bs-blue;
}



.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $bs-blue;
    border-color: $bs-blue;
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: rgba(255,255,255,.7);
    background: $bs-blue;
}


.page-link {
      color: $bs-blue;
}


.page-link:hover {
    z-index: 2;
    color: #fff;
    background-color: $bs-blue;
    border-color: $bs-blue;
}

a{
  color: $bs-blue;
}

b, strong {
    color: $bs-blue;
    font-weight: bolder;
}

div.quarto-post .listing-categories .listing-category {
    color: $bs-blue;
    border: solid 1px var(--bs-gray-400);
    font-size: .8em;
}


// Custom styles for bold text color
strong {
  color: black; /* Change 'red' to the desired color */
}


// Custom styles for hyperlink color
a {
  color: blue; /* Change 'blue' to the desired color */
}


blockquote {
  background: #f9f9f9;
  margin: 0em 0px;
  margin-left: 250px;
  padding: 0.5em 0.5em;
}